includes:
    - 'vendor/phpstan/phpstan-phpunit/extension.neon'
    - 'vendor/phpstan/phpstan-phpunit/rules.neon'
    - 'vendor/phpstan/phpstan-symfony/extension.neon'
    - 'vendor/phpstan/phpstan-symfony/rules.neon'

parameters:
    paths:
        - 'src'
        - 'tests'
    level: 'max'
    checkGenericClassInNonGenericObjectType: true
    checkMissingIterableValueType:           true
