includes:
    - 'vendor/phpstan/phpstan-phpunit/extension.neon'
    - 'vendor/phpstan/phpstan-phpunit/rules.neon'

parameters:
    paths:
        - 'src'
        - 'tests'
    level: 'max'
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - '#Cannot call method integerNode\(\) on Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\|null\.#'
